:root {
    --primario: #2c2a2a;
    --primarioOscuro: #646463;
    --secundario: #FFCE00;
    --secundarioOscuro: #e0b400;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: "Staatliches", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.contenedor {
    max-width: 100%;
    width: 95%;
    margin: 70px auto;
    padding: 1rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 50px;
}

.header__img {
    max-width: 200px;
    width: 90%;
}

/* Navegación */
.navPrincipal {
    background-color: var(--primarioOscuro);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.navPrincipal__enlace {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    margin: 0 1rem;
    text-align: center;
}

.navPrincipal__enlace:hover,
.navPrincipal__enlace--activo {
    color: var(--secundario);
}

/* Footer */
.footer {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 1rem;
    text-align: center;
}

.footer__texto {
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

/* Encabezado */
.contenedor__encabezado {
    text-transform: uppercase;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
    margin: 3rem 0;
    text-align: center;
}

/* Productos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Limitamos a 3 columnas en pantallas grandes */
@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    background-color: var(--primarioOscuro);
    padding: 1rem;
    text-align: center;
    max-width: 100%;
}

/* Gráficos */
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.grafico--camisas {
    background-image: url(../Imágenes/img/grafico1.jpg);
    grid-row: 2;
}

.grafico--node {
    background-image: url(../Imágenes/img/grafico2.jpg);
    grid-row: 5;
}

@media (min-width: 768px) {
    .grafico--camisas, .grafico--node {
        grid-column: span 2;
    }
}

/* Página Nosotros */
.nosotros {
    display: flex;
    align-items: center; 
    gap: 2rem;
}

.nosotros__contenido {
    flex: 1; 
}

.nosotros__img {
    flex-shrink: 0; 
    width: 45%; 
    max-width: 400px;
    height: auto; 
    margin-bottom: 25px;
}

/* RESPONSIVE: Cuando el texto es más alto, la imagen se coloca abajo */
@media (max-width: 1013px) {
    .nosotros {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros__img {
        width: 80%; /* Ajusta la imagen en pantallas pequeñas */
        max-width: 100%;
    }
}

/* Información Nosotros */
.informacion__titulo {
    text-align: center;
    color: var(--secundario);
}

.informacion__campos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    text-align: center;
}

/* RESPONSIVE: En menos de 700px, dos columnas */
@media (max-width: 700px) {
    .informacion__campos {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Producto */
.contenedor_camiseta {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.camiseta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.camiseta__img {
    max-width: 400px;
    width: 100%;
    object-fit: cover;
}

.camiseta__descripcion {
    text-align: center;
    max-width: 100%;
}

/* Formulario */
.camiseta__formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}

.formulario__campo {
    background-color: transparent;
    border: 1px solid var(--primarioOscuro);
    color: var(--primarioOscuro);
    font-size: 2rem;
    padding: 1rem;
    width: 100%;
}

.formulario__submit {
    background-color: var(--secundario);
    border: none;
    padding: 1.5rem;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    grid-column: span 2;
}

.formulario__submit:hover {
    font-size: 2.2rem;
    background-color: var(--secundarioOscuro);
}

/* Responsividad */
@media (min-width: 1100px) {
    .camiseta {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .camiseta__descripcion {
        max-width: 50%;
        text-align: left;
    }

    .camiseta__formulario {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .camiseta__formulario {
        grid-template-columns: 1fr; /* Hace que los elementos se apilen verticalmente */
    }

    .formulario__submit {
        grid-column: auto; /* Se asegura de que el botón no ocupe dos columnas */
    }
}